 body {
            font-family: Arial, sans-serif;
            margin: 0;
            background: #f4f4f4;
        }

        header {
            background: #7b6d6d;
            color: white;
            padding: 15px;
            text-align: center;
        }

        nav {
            background: #555;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
        }

        nav a:hover {
            color: yellow;
        }

        .container {
            padding: 20px;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            background: #333;
            color: #c3eb00;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        button:hover {
            background: rgb(81, 12, 200);
           
        }

        footer {
            background: #ab2323;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

